/* .inline{
    display: inline;
    color: yellowgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    margin:0;
    padding:0;
    display: block;
    width: 60px;
    text-align: center; */
    
    

.inline {
  padding: 0;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  display: block;
  margin: 0;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inline:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
 
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.5s ease-in-out;
  border-radius: 20px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 2 0;
  }
  50% {
    background-position: 600% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.inline:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.inline button:hover{
    background-color: yellow;
    border-radius: 0.5em;
    margin:0.5em;
    cursor: pointer;

}

.barra{
   
    width: 200px;
    height: 30px;
    right: -90px;
    border-radius: 3em;


}
.position{
    margin-top: 5em;

}