.add {
        padding: 0;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
      
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 20px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-align: center;
        display: block;
        margin: 0;
        font-size: 20px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      
      